<div id="mainDiv">
  <div id="assemblyInput">
    <textarea class="assembly-text" id="assembly" [hidden]="displayLines === true" #assembly></textarea>

    <table id="assembledLines" class="table table-condensed" [hidden]="displayLines === false">
      <tbody>
      <tr *ngFor="let line of lines; let i = index"><td>
        <div [class.highlightLine]="lineMapping.get(cpu.regState.ip) !== undefined
        && lineMapping.get(cpu.regState.ip) === i">{{ line }}</div>
      </td></tr>
      </tbody>
    </table>

    <br>
    <button *ngIf="displayLines === false" (click)="assemble(assembly.value)">Assemble</button>
    <button *ngIf="displayLines === true" (click)="startEdit()">Edit</button>
    <button (click)="this.cpu.run()">Execute</button>
    <button (click)="this.cpu.run(true)">Step</button>
    <button (click)="resetCPU()">Reset</button>
    <select (change)="changeCPUSpeed($event)">
      <option value="1">1 Hz</option>
      <option value="2">2 Hz</option>
      <option value="3">3 Hz</option>
      <option value="4">4 Hz</option>
      <option value="5">5 Hz</option>
      <option value="10">10 Hz</option>
      <option value="20">20 Hz</option>
      <option value="30">30 Hz</option>
      <option value="40">40 Hz</option>
      <option value="50">50 Hz</option>
      <option value="100">100 Hz</option>
      <option value="200">200 Hz</option>
      <option value="500">500 Hz</option>
      <option value="1000">1000 Hz</option>
    </select>
  </div>

  <div id="registerMemoryView">
    <div>
      <div id="registerView">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th scope="col">A</th>
            <th scope="col" id="ipHeader"><div>IP</div></th>
            <th scope="col">BR1(OP)</th>
            <th scope="col" id="br2Header"><div>BR2</div></th>
            <th scope="col">Z</th>
            <th scope="col">N</th>
            <th scope="col">V</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>{{ asFourDigitHex(cpu.regState.a) }}</code></td>
            <td><code>{{ asFourDigitHex(cpu.regState.ip) }}</code></td>
            <td><code>{{ asFourDigitHex(cpu.regState.op) }}</code>
              <code *ngIf="mapOPToMnemonic(cpu.regState.op) !== null"><br>( {{ mapOPToMnemonic(cpu.regState.op) }} )</code></td>
            <td><code>{{ asFourDigitHex(cpu.regState.br2) }}</code></td>
            <td><code>{{ cpu.regState.z.toString().toUpperCase() }}</code></td>
            <td><code>{{ cpu.regState.n.toString().toUpperCase() }}</code></td>
            <td><code>{{ cpu.regState.v.toString().toUpperCase() }}</code></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div id="statusView">
        <h5>Status:</h5>
        <span>{{ cpu.curStatus }}</span>
      </div>
    </div>
    <div id="memoryView">
      <h4>RAM</h4>
      <div>
        <fa-icon style="vertical-align: middle;" [icon]="faAngleLeft" (click)="pageLeft()"></fa-icon>
        <span style="vertical-align: middle;">Page</span>
        <fa-icon style="vertical-align: middle;" [icon]="faAngleRight" (click)="pageRight()"></fa-icon>
      </div>

      <table class="table-striped">
        <thead>
          <th>{{ asThreeDigitHex(ramViewOff) }}</th>
          <th *ngFor="let i of numbers">{{ i.toString(16).toUpperCase() }}</th>
        </thead>
        <tbody>
        <tr *ngFor="let i of numbers">
          <th scope="row">{{ shiftLeft(i, 4).toString(16).toUpperCase() }}</th>
          <td *ngFor="let j of numbers">
            <div [class.ipHightlight]="cpu.regState.ip === (ramViewOff + shiftLeft(i, 4) + j)"
            [class.br2Hightlight]="br2IsAddress() && cpu.regState.br2 === (ramViewOff + shiftLeft(i, 4) + j)"
            [class.changedMem]="isRamHighlighted(ramViewOff + shiftLeft(i, 4) + j)"
            >{{ asFourDigitHex(cpu.ram[ramViewOff + shiftLeft(i, 4) + j]) }}</div>
          </td>
        </tr>
        </tbody>
      </table>
      <h6>Output:</h6>
      <table id="outputChars">
        <tbody>
          <tr>
            <td *ngFor="let c of cpu.outputChars">{{ c == 0 ? ' ' : fromCharCode(c) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
